@page
@model Phonebook.Pages.Contact.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contacts</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contacts.First_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contacts.First_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contacts.Last_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contacts.Last_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contacts.Phone_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contacts.Phone_number)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Contacts.ID"class="btn btn-light">Edit</a> 
    <a asp-page="./Index"class="btn btn-info">Back to List</a>
</div>
